
  
  .logo-gather-demo-wrapper {
    position: relative;
    /* background: #019BF0; */
    background-color: #000;
    overflow: hidden;
    height: 500px;
  }
  
  .logo-gather-demo-wrapper .point-wrapper {
    position: absolute;
  }
  
  .logo-gather-demo-wrapper .point {
    border-radius: 100%;
  }
  
  .logo-gather-demo-wrapper .right-side {
    width: 1038px;
    height: 280px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  
  .logo-gather-demo-wrapper .right-side * {
    pointer-events: none;
  }
  
  @media screen and (max-width: 414px) {
    .exhibition-details-demo {
      overflow: hidden;
    }
}